  * {
      color: #ffffff;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      height: 100vh;
      width: 100vw;
      font-family: Arial, sans-serif;
      /* background: #666666; */
   
    background-image: url("../Assets/Night\ Blue\ Aesthetic.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      /* padding: 40px 20px; */
  }

  .homePage {
      height:50%;
      width: 60%;
      border: none;


  }

  #homeContent1,
  #homeContent2 {
    height: 100%;
      width: 100%;
      /* background-color: rgba(0, 128, 255, 0.5); */
      border: none;
      border-radius: 10px;
     box-shadow: 0 0px 4px rgba(86, 190, 231, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  h2,h3{
    padding: 10px;
  }
  button {
      padding: 10px 30px;
      margin-top: 20px;
      font-size: 16px;
      cursor: pointer;
      background: #23C2ED;
      border: none;
      border-radius: 20PX;
  }

  .text {
      padding: 12px 20px;
      border: 1px solid white;
      border-radius: 25px;
      background-color: #666666;
      box-shadow: 0 0px 4px rgba(86, 190, 231, 0.4);

      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  input:focus {
      outline: none;
      border: none;
      background: #3D3D3F;

  }

  input::placeholder {
      color: #ffffff;
  }

  @media (max-width:425px){
    .homePage{
        width: 95%;
    }
  }