@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style:unset;
}
body{
    background-color: rgb(187, 240, 231);
}
section nav{
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* border: 4px solid black; */
    background-color: white;

}
section nav .content{
    height: 65px;
    width: 74%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7%;
    
}
section nav .icons{
    height: 65px;
    width: 10%;
    /* border: 2px solid rgb(255, 145, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}
.home{
    height: 90vh;
    width: 100vw;
    border: 1px solid black;
    background-image: url("../img/img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.home div{
    height: 200px;
    width: 40%;
    background-color: aquamarine;
}

